ul {
    list-style-type: none;
    overflow: hidden;
    
}

li {
    float: left;
    text-decoration: none;
    
}

a, header, h1, h2, h3 {
    color: #d6001c;
}

li a {
    display: block;
    margin: 14px;
}

.main {
    margin-top: 50px;
}

header {
    padding-top: 45px;
    font: 15px;
}

h1 { 
    padding-left: 390px;
    padding-top: 50px;
    font-size: 72px;
}
h2 {
    margin-left: 545px;
    margin-top: 40px;
    font-size: 40px;

}

h3 {
    padding-left: 545px;
    padding-top: 40px;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
}


.cof:hover, .son:hover, .wor:hover, .mou:hover, .lig:hover, .for:hover, .main:hover {
    opacity: 0.7;
    cursor: pointer;
}

.effect {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image-wrapper {
    height: 250px;
    width: 180px;
    margin: 10px;
    margin-top: 60px;
    background-color: #d6001c;
    border: #d6001c outset 1px;
}

.border-horizontal {
    border: #d6001c solid 1px;
    height: 2px;
    width: 900px;
    background-color: #d6001c;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 15%;

}

.main {
    border: #d6001c outset 2px;
    height: 450px;
    width: 1250px;
    margin-left: 0.5%;
    
}








 

