ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-decoration: none;
}

a, header, h1, h2, h3 {
    color: #d6001c;
}

li a {
    display: block;
    padding: 12px;    
}

header {
    padding-top: 45px;
    font: 15px;
}

h1 { 
    padding-left: 400px;
    padding-top: 60px;
    font-size: 72px;
}
h2 {
    padding-left: 545px;
    padding-top: 40px;
    font-size: 40px;

}

h3 {
    padding-left: 545px;
    padding-top: 40px;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
}


.cof:hover, .son:hover, .wor:hover, .mou:hover, .lig:hover, .for:hover, .main:hover {
    opacity: 0.5;
    cursor: pointer;
}

.effect {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image-wrapper {
    height: 300px;
    width: 200px;
    margin: 10px;
}



